<html>
    <head>Learn GoLang!</head>
    <body>
        <ul>
            {{range .}}
            <li>Student Name is {{str1 .Name}} and {{.Pronoun}} grade of {{str2 .Grade}}</li>
            {{end}}
        </ul>
    </body>
</html>