<html>
    <head>Learn GoLang!</head>
    <body>
        <ul>
            {{range .}}
            <li>Student Name is {{.Name}} and {{.Pronoun}} grade of {{.Grade}}</li>
            {{end}}
        </ul>
    </body>
</html>